/* Bootstrap */
/************************************************/
.container {
  padding: 0 !important;
}

.form-control, .btn, .custom-select {
  font-size: 1em;
}

/*select::-moz-focus-inner {
  outline: none !important;
}*/

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

.btn-sm {
  font-size: .85em;
}

.btn-lg {
  font-size: 1.25em
}

.col-form-label-sm {
  font-size: .95em
}

/* Сайт */
/************************************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  min-height: 100vh;
}

html {
  font-size: 10px
}

body {
  background-color: #f2f4ea;
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;
  padding: 1em 0;
}

@media (max-width: 575px) {
  body {
    font-size: 1.2rem !important;
    padding: 0 !important;
  }
  h1 {
    font-size: 2.5rem !important
  }
  h2 {
    font-size: 2.25rem !important
  }
  h3 {
    font-size: 2rem !important
  }
  h4 {
    font-size: 1.75rem !important
  }
  h5 {
    font-size: 1.5rem !important
  }
  h6 {
    font-size: 1.25rem !important
  }
}

@media (min-width: 576px) {
  body {
    font-size: 1.3rem !important;
  }
  h1 {
    font-size: 2.6rem !important
  }
  h2 {
    font-size: 2.35rem !important
  }
  h3 {
    font-size: 2.1rem !important
  }
  h4 {
    font-size: 1.85rem !important
  }
  h5 {
    font-size: 1.6rem !important
  }
  h6 {
    font-size: 1.35rem !important
  }
}

@media (min-width: 768px) {
  body {
    font-size: 1.4rem !important;
  }
  h1 {
    font-size: 2.7rem !important
  }
  h2 {
    font-size: 2.45rem !important
  }
  h3 {
    font-size: 2.2rem !important
  }
  h4 {
    font-size: 1.95rem !important
  }
  h5 {
    font-size: 1.7rem !important
  }
  h6 {
    font-size: 1.45rem !important
  }
}

@media (min-width: 992px) {
  body {
    font-size: 1.5rem !important;
  }
  h1 {
    font-size: 2.8rem !important
  }
  h2 {
    font-size: 2.55rem !important
  }
  h3 {
    font-size: 2.3rem !important
  }
  h4 {
    font-size: 2.05rem !important
  }
  h5 {
    font-size: 1.8rem !important
  }
  h6 {
    font-size: 1.55rem !important
  }
}

@media (min-width: 1200px) {
  body {
    font-size: 1.6rem !important;
  }
  h1 {
    font-size: 2.9rem !important
  }
  h2 {
    font-size: 2.65rem !important
  }
  h3 {
    font-size: 2.4rem !important
  }
  h4 {
    font-size: 2.15rem !important
  }
  h5 {
    font-size: 1.9rem !important
  }
  h6 {
    font-size: 1.65rem !important
  }
}

/*.page-enter-active, .page-leave-active {
  transition: opacity 1.5s;
}

.page-enter, .page-leave-active {
  opacity: 0;
}*/

.markdown {
  margin-top: .25em;
  line-height: 1.35em !important;
}

.markdown p, .markdown ul, .markdown ol {
  margin-bottom: .55em !important;
}

.markdown ul, .markdown ol {
  padding-left: 1em !important;
}
